@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Piazzolla', serif;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#container #slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100vw;
  height: 100vh;
  background-image: url("https://picsum.photos/id/102/1920/1024");
  background-size: cover;
  opacity: 1;
  -webkit-animation: background-change 20s linear 0s infinite;
          animation: background-change 20s linear 0s infinite;
}

#container #slide #text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 66vw;
  height: 100vh;
  padding-top: 100px;
  color: #333333;
  -webkit-animation: text-color-change 20s ease-in 0s infinite;
          animation: text-color-change 20s ease-in 0s infinite;
  z-index: 2;
}

#container #slide #text-container h1, #container #slide #text-container h2, #container #slide #text-container h3 {
  opacity: 0;
  -webkit-animation: text-mover 5s linear 0s infinite, text-opacity 5s linear 0s infinite;
          animation: text-mover 5s linear 0s infinite, text-opacity 5s linear 0s infinite;
  cursor: default;
}

#container #slide #text-container h1 {
  margin-top: -100px;
  font-size: 250px;
  font-weight: 900;
}

#container #slide #text-container h2 {
  font-size: 150px;
  font-weight: 700;
}

#container #slide #text-container h3 {
  margin-top: -50px;
  margin-bottom: 20vh;
  font-size: 40px;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

@media (max-width: 1200px) {
  #container #slide #text-container h1 {
    font-size: 150px;
    margin-top: -60px;
  }
  #container #slide #text-container h2 {
    font-size: 90px;
    margin-top: 50px;
  }
  #container #slide #text-container h3 {
    margin-top: -30px;
    font-size: 30px;
  }
}

#container #slide #white-element {
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100vh;
  min-width: 40vw;
  background: rgba(238, 238, 238, 0.2);
  z-index: 1;
}

#container #slide #white-element #slide-number {
  width: 400px;
  margin-left: 25px;
  margin: 0 auto;
  margin-bottom: -150px;
}

#container #slide #white-element #slide-number #zero {
  font-size: 300px;
  font-weight: 900;
  color: #333333;
  -webkit-animation: text-color-change 20s ease-in 0s infinite;
          animation: text-color-change 20s ease-in 0s infinite;
}

#container #slide #white-element #slide-number ::after {
  content: '1';
  -webkit-animation: number-opacity 20s ease-in 0s infinite;
          animation: number-opacity 20s ease-in 0s infinite;
}

@media (max-width: 1200px) {
  #container #slide #white-element #slide-number {
    margin-bottom: -130px;
  }
  #container #slide #white-element #slide-number #zero {
    font-size: 250px;
  }
}

@-webkit-keyframes text-mover {
  from {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  15%, 80% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
}

@keyframes text-mover {
  from {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  15%, 80% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
}

@-webkit-keyframes text-opacity {
  from, 10% {
    opacity: 0;
  }
  15%, 85% {
    opacity: 1;
  }
  90%, to {
    opacity: 0;
  }
}

@keyframes text-opacity {
  from, 10% {
    opacity: 0;
  }
  15%, 85% {
    opacity: 1;
  }
  90%, to {
    opacity: 0;
  }
}

@-webkit-keyframes text-color-change {
  from, 20% {
    color: #333333;
  }
  25%, 45% {
    color: #eeeeee;
  }
  50%, 70% {
    color: #333333;
  }
  75%, 95% {
    color: #eeeeee;
  }
  to {
    color: #333333;
  }
}

@keyframes text-color-change {
  from, 20% {
    color: #333333;
  }
  25%, 45% {
    color: #eeeeee;
  }
  50%, 70% {
    color: #333333;
  }
  75%, 95% {
    color: #eeeeee;
  }
  to {
    color: #333333;
  }
}

@-webkit-keyframes number-opacity {
  from {
    opacity: 0;
    content: '1';
  }
  2.5%, 20% {
    opacity: 1;
    content: '1';
  }
  25% {
    opacity: 0;
    content: '1';
  }
  26% {
    opacity: 0;
    content: '2';
  }
  27.5%, 45% {
    opacity: 1;
    content: '2';
  }
  50% {
    opacity: 0;
    content: '2';
  }
  51% {
    opacity: 0;
    content: '3';
  }
  52.5%, 70% {
    opacity: 1;
    content: '3';
  }
  75% {
    opacity: 0;
    content: '3';
  }
  76% {
    opacity: 0;
    content: '4';
  }
  77.5%, 95% {
    opacity: 1;
    content: '4';
  }
  to {
    opacity: 0;
    content: '4';
  }
}

@keyframes number-opacity {
  from {
    opacity: 0;
    content: '1';
  }
  2.5%, 20% {
    opacity: 1;
    content: '1';
  }
  25% {
    opacity: 0;
    content: '1';
  }
  26% {
    opacity: 0;
    content: '2';
  }
  27.5%, 45% {
    opacity: 1;
    content: '2';
  }
  50% {
    opacity: 0;
    content: '2';
  }
  51% {
    opacity: 0;
    content: '3';
  }
  52.5%, 70% {
    opacity: 1;
    content: '3';
  }
  75% {
    opacity: 0;
    content: '3';
  }
  76% {
    opacity: 0;
    content: '4';
  }
  77.5%, 95% {
    opacity: 1;
    content: '4';
  }
  to {
    opacity: 0;
    content: '4';
  }
}

@-webkit-keyframes background-change {
  from, 20% {
    background-image: url("https://picsum.photos/id/102/1920/1024"), url("https://picsum.photos/id/23/1920/1024");
  }
  25%, 45% {
    background-image: url("https://picsum.photos/id/23/1920/1024"), url("https://picsum.photos/id/1014/1920/1024");
  }
  50%, 70% {
    background-image: url("https://picsum.photos/id/1014/1920/1024"), url("https://picsum.photos/id/494/1920/1024");
  }
  75%, 95% {
    background-image: url("https://picsum.photos/id/494/1920/1024"), url("https://picsum.photos/id/102/1920/1024");
  }
  to {
    background-image: url("https://picsum.photos/id/102/1920/1024");
  }
}

@keyframes background-change {
  from, 20% {
    background-image: url("https://picsum.photos/id/102/1920/1024"), url("https://picsum.photos/id/23/1920/1024");
  }
  25%, 45% {
    background-image: url("https://picsum.photos/id/23/1920/1024"), url("https://picsum.photos/id/1014/1920/1024");
  }
  50%, 70% {
    background-image: url("https://picsum.photos/id/1014/1920/1024"), url("https://picsum.photos/id/494/1920/1024");
  }
  75%, 95% {
    background-image: url("https://picsum.photos/id/494/1920/1024"), url("https://picsum.photos/id/102/1920/1024");
  }
  to {
    background-image: url("https://picsum.photos/id/102/1920/1024");
  }
}
/*# sourceMappingURL=style.css.map */