@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;500;700;900&display=swap')

$darkColor: #333333
$lightColor: #eeeeee
$image1: url('https://picsum.photos/id/102/1920/1024')
$image2: url('https://picsum.photos/id/23/1920/1024')
$image3: url('https://picsum.photos/id/1014/1920/1024')
$image4: url('https://picsum.photos/id/494/1920/1024')

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Piazzolla', serif

#container
    position: relative
    width: 100vw
    height: 100vh
    #slide
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        min-width: 100vw
        height: 100vh
        background-image: $image1
        background-size: cover
        opacity: 1
        animation: background-change 20s linear 0s infinite
        #text-container
            display: flex
            flex-direction: column
            width: 66vw
            height: 100vh
            padding-top: 100px
            color: $darkColor
            animation: text-color-change 20s ease-in 0s infinite
            z-index: 2
            h1, h2, h3
                opacity: 0
                animation: text-mover 5s linear 0s infinite, text-opacity 5s linear 0s infinite
                cursor: default
            h1
                margin-top: -100px
                font-size: 250px
                font-weight: 900
            h2
                font-size: 150px
                font-weight: 700
            h3
                margin-top: -50px
                margin-bottom: 20vh
                font-size: 40px
                animation-delay: 0.1s
            @media (max-width: 1200px)
                h1
                    font-size: 150px
                    margin-top: -60px
                h2
                    font-size: 90px
                    margin-top: 50px
                h3
                    margin-top: -30px
                    font-size: 30px

        #white-element
            position: fixed
            top: 0
            right: 0
            display: flex
            align-items: flex-end
            height: 100vh
            min-width: 40vw
            background: rgba($lightColor, 0.2)
            z-index: 1
            #slide-number
                width: 400px
                margin-left: 25px
                margin: 0 auto
                margin-bottom: -150px
                #zero
                    font-size: 300px
                    font-weight: 900
                    color: $darkColor
                    animation: text-color-change 20s ease-in 0s infinite
                #second-number
                ::after
                    content: '1'
                    animation: number-opacity 20s ease-in 0s infinite
            @media (max-width: 1200px)
                #slide-number
                    margin-bottom: -130px
                    #zero
                        font-size: 250px

@keyframes text-mover
    from
        transform: translateX(-200px)
    15%, 80%
        transform: translateX(-0px)
    to
        transform: translateX(200px)
        opacity: 0
@keyframes text-opacity
    from, 10%
        opacity: 0
    15%, 85%
        opacity: 1
    90%, to
        opacity: 0
@keyframes text-color-change
    from, 20%
        color: $darkColor
    25%, 45%
        color: $lightColor
    50%, 70%
        color: $darkColor
    75%, 95%
        color: $lightColor
    to
        color: $darkColor
@keyframes number-opacity
    from
        opacity: 0
        content: '1'

    2.5%, 20%
        opacity: 1
        content: '1'
    25%
        opacity: 0
        content: '1'
    26%
        opacity: 0
        content: '2'
    27.5%, 45%
        opacity: 1
        content: '2'
    50%
        opacity: 0
        content: '2'
    51%
        opacity: 0
        content: '3'
    52.5%, 70%
        opacity: 1
        content: '3'
    75%
        opacity: 0
        content: '3'
    76%
        opacity: 0
        content: '4'
    77.5%, 95%
        opacity: 1
        content: '4'
    to
        opacity: 0
        content: '4'
@keyframes background-change
    from, 20%
        background-image: $image1, $image2
    25%, 45%
        background-image: $image2, $image3
    50%, 70%
        background-image: $image3, $image4
    75%, 95%
        background-image: $image4, $image1
    to
        background-image: $image1